$keyBtnWidth: 30px !default;
$keyBtnHeight: 20px !default;
$keyRoundBtnSize: 80px !default;

.keypad {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  font-size: $uiRootFontSize;
  pointer-events: none;
}

.keypad-btn {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  padding: 4px 10px;
  width: $keyBtnWidth;
  height: $keyBtnHeight;
  font-size: 12px;
  color: $uiColor;
  background-color: $uiColor;
  transition: background-color .16s ease-in, color background-color .16s ease-in;
  user-select: none;
  cursor: pointer;
  pointer-events: all;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.keypad-btn.round {
  border-radius: 100%;
  padding: 0;
  width: $keyRoundBtnSize;
  height: auto;
  font-size: 20px;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.keypad-btn:active,
.keypad-btn.active {
  color: $uiActiveColor;
  background-color: $uiActiveColor;
}
