.term {
  position: absolute;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-overflow-scrolling: touch;
}

.term-line {
  display: block;
  margin: 0;
  white-space: pre-line;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 16px;
  font-family: monospace;
  font-weight: bold;
  color: rgba(255,255,255,.8);

  &:last-child:after {
    content: '_';
    color: #fff;
    animation: cursor 1s infinite;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
