* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-x pan-y;
  user-scalable: no;
}

html, body {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-01);
  background-image: radial-gradient(circle at top center, #323236, #111111);
}
