* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-x pan-y;
  user-scalable: no;
}

html, body {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(var(--black-01));
  background-image: radial-gradient(circle at top center, rgb(var(--black-02)), rgb(var(--black-01)));
}

body:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  opacity: 0;
  transition: opacity .68s ease-in-out;
}
