:root {
  /* colors */
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --cyan: 86, 185, 217;
  --green: 137, 199, 10;
  --yellow: 179, 178, 74;
  --red: 233, 11, 72;

  /* opacity */
  --opacity-40: .4;
  --opacity-60: .6;
  --opacity-80: .8;

  /* theme */
  --primary: 255, 255, 255;
  --bg-color-primary: rgb(var(--black));

  --font-size-small: 12px;
  --font-size-medium: var(--font-size-medium);
  --font-size-large: 24px;

  --color-primary: rgba(var(--primary), var(--opacity-40));
  --color-mute: rgba(var(--primary), var(--opacity-60));
}
