# Dest resouces
build
libs
!**/src/**/libs
docs-dist
.next
coverage
junit.xml
gh-pages
.dumi/tmp*

# Husky
.husky

# ESLINT
.eslintcache


# Npm or Yarn or Pnpm
pnpm-lock.yaml
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

node_modules
npm-debug.log
npm-shrinkwrap.json
package-lock.json


# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~


# OS or Editor folders
.vscode
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
.env
