sim-dosbox-canvas {
  --stage-width: 640px;
  --stage-height: 400px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: var(--stage-width);
  height: var(--stage-height);
  opacity: 0;
  transition: opacity .26s ease-in;
}

sim-dosbox-canvas canvas {
  width: 100%;
  height: 100%;
}
