sim-dosbox-canvas {
  --sim-dosbox-canvas-width: 640px;
  --sim-dosbox-canvas-height: 400px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: var(--sim-dosbox-canvas-width);
  height: var(--sim-dosbox-canvas-height);
  opacity: 0;
  transition: opacity .26s ease-in;
}

sim-dosbox-canvas canvas {
  width: 100%;
  height: 100%;
}

@media screen and (orientation: portrait) {
  sim-dosbox-canvas {
    top: 20%;
    bottom: auto;
  }
}
