sim-firefly {
  --firefly-size: 20px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  margin: auto;
  width: 100vw;
  height: 100vh;
  animation: breathe 270s infinite ease-in-out;
  user-select: none;
}

sim-el[firefly] {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  margin: auto;
  padding: 20px;
  height: var(--firefly-size);
  width: var(--firefly-size);
  background-color: var(--cyan);
  border: 20px solid #000;
  box-shadow: 0 0 20vh #fff, 
    0 0 3vh #000, 0 0 3vh #000, 0 0 3vh #000,
    0 0 4vh #444, 0 0 4vh #444, 0 0 4vh #444,
    0 0 5vh #fff, 0 0 5vh #fff, 0 0 5vh #fff,
    0 0 6vh #fff, 0 0 6vh #fff, 0 0 6vh #fff,
    0 0 4vh #000, 0 0 4vh #000, 0 0 4vh #000
  ;
  border-radius: 50%;
  border-bottom-color: rgba(0,0,0,0.5);
  border-left-color: rgba(0,0,0,0.6);
  border-right-color: rgba(0,0,0,0.6);
  border-top-color: rgba(0,0,0,0.4);
  opacity: 0.6;
  filter: blur(var(--firefly-size));
  transition: filter 300ms;
  animation: fly 17s infinite cubic-bezier(0.91, 3.08, 0.71, -0.68);
}

sim-el[firefly]:hover {
  filter: blur(calc(var(--firefly-size) * 2));
}

sim-el[firefly]:nth-child(1) {
  background-color: rgb(var(--red));
  padding: 10px;
  animation-delay: 1s;
  margin: -27vh 14vw 0 6vh;
  transform: rotate(90deg) scale(1.05);
  transform-origin: 30%;
}

sim-el[firefly]:nth-child(2) {
  background-color: rgb(var(--yellow));
  padding: 20px;
  animation-delay: 2s;
  margin: 3vh 11vw -7vh 0;
  transform: rotate(145deg) scale(1.10);
  transform-origin: 0%;
}

sim-el[firefly]:nth-child(3) {
  background-color: rgb(var(--green));
  padding: 30px;
  animation-delay: 3s;
  margin: -26vh 0 0 13vw;
  transform: rotate(247deg) scale(1.15);
  transform-origin: 100%;
}

sim-el[firefly]:nth-child(4) {
  background-color: rgb(var(--cyan));
  padding: 40px;
  margin: -7vh 0 0 7vw;
  transform: rotate(170deg) scale(1.2);
  transform-origin: 60%;
}

@keyframes fly {
  25% {
    animation-timing-function: cubic-bezier(0.91, 3.08, 0.71, -0.68);
    transform: translateX(7vw) scale(0.9);
    opacity: 0.3;
  }
  50% {
    animation-timing-function: cubic-bezier(0.91, 3.08, 0.71, -0.68);
    transform: translateX(4vw) scale(1.2);
    opacity: 0.7;
  }
  75% {
    animation-timing-function: cubic-bezier(0.91, 3.08, 0.71, -0.68);
    transform: translateX(12vw) scale(0.7);
    opacity: 0.4;
  }
}

@keyframes breathe {
  0% { 
    transform: rotate(0deg) scale(1.0);
    width: 80vw;
    height: 80vh;
  }
  25% { 
    transform: rotate(360deg) scale(0.8);
    width: 60vh;
    height: 60vh;
  }
  50% { 
    transform: rotate(0deg) scale(1.0); 
    width: 60vw;
    height: 60vw;
  }
  75% { 
    transform: rotate(-360deg) scale(0.8);
    width: 40vh;
    height: 40vw;
  }
  100% { 
    transform: rotate(0deg) scale(1.0);
    width: 80vw;
    height: 80vh;
  }
}
