sim-gallery {
  --sim-gallery-gutter: 20px;
  --sim-gallery-columns: 4;
  --sim-gallery-rows: 2;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: var(--sim-gallery-gutter);
  margin-top: 60px;
  padding: var(--sim-gallery-gutter);
  width: 100%;
}

html.mobile sim-gallery {
  --sim-gallery-columns: 3;
  --sim-gallery-rows: 1;
}

sim-el[gallery-item] {
  --sim-gallery-item-background-image: none;
  --sim-gallery-item-columns: var(--sim-gallery-columns);
  --sim-gallery-item-rows: var(--sim-gallery-rows);

  position: relative;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / var(--sim-gallery-item-columns) - var(--sim-gallery-gutter) / (var(--sim-gallery-item-columns) / (var(--sim-gallery-item-columns) - 1)));
  height: calc(100% / var(--sim-gallery-item-rows));
  background-color: transparent;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: var(--sim-gallery-item-background-image);
  transition: transform .16s ease-in-out;
}

@media (max-height: 50vw) {
  html:not(.mobile) sim-el[gallery-item] {
    --sim-gallery-item-rows: calc(var(--sim-gallery-rows) / 2);

    min-height: 160px;
  }
}

sim-el[gallery-item]::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg,
    transparent 10%,
    rgba(255,255,255,.05) 10%,
    rgba(255,255,255,.05) 20%,
    transparent 20%,
    transparent 30%,
    rgba(255,255,255,.05) 30%,
    rgba(255,255,255,.05) 40%,
    transparent 40%,
    transparent 50%,
    rgba(255,255,255,.05) 50%,
    rgba(255,255,255,.05) 60%,
    transparent 60%,
    transparent 70%,
    rgba(255,255,255,.05) 70%,
    rgba(255,255,255,.05) 80%,
    transparent 80%,
    transparent 90%,
    rgba(255,255,255,.05) 90%
  );
  background-color: rgba(255,255,255,.05);
  box-shadow: inset 0 0 0 4px rgba(255,255,255,.05);
}

sim-el[gallery-item]::after {
  content: "";
  position: relative;
  z-index: 4;
  display: block;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-color: inherit;
  background-position: inherit;
  background-size: inherit;
  background-repeat: inherit;
  transition: transform .16s ease-in-out;
  pointer-events: none;
}

sim-el[gallery-item]:hover {
  transform: scale(1.1);
}

sim-el[gallery-item].active::after {
  border-radius: 2px;
  transform: scale(1.02);
  animation: transition 1.6s ease-in-out infinite;
}

@keyframes transition {
  0% {
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 0 0 3px rgba(255,255,255,.2);
  }

  50% {
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 0 0 3px rgba(255,255,255,.5);
  }

  100% {
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 0 0 3px rgba(255,255,255,.2);
  }
}

@media screen and (orientation: portrait) {
  sim-gallery {
    margin-top: 80px;
  }

  html.mobile sim-gallery {
    --sim-gallery-columns: 2;
    --sim-gallery-rows: 3;
  }

  sim-el[gallery-item]::before {
    box-shadow: inset 0 0 0 8px rgba(255,255,255,.05);
  }
}
