sim-gallery {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 10px;
  width: 100%;
  overflow-y: auto;
}

sim-el[gallery-item] {
  position: relative;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 120px;
  height: 150px;
  background-color: transparent;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform .16s ease-in-out;
}

sim-el[gallery-item]:first-child {
  margin-left: 0;
}

sim-el[gallery-item]:last-child {
  margin-right: 0;
}

sim-el[gallery-item]::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg,
    transparent 10%,
    rgba(255,255,255,.05) 10%,
    rgba(255,255,255,.05) 20%,
    transparent 20%,
    transparent 30%,
    rgba(255,255,255,.05) 30%,
    rgba(255,255,255,.05) 40%,
    transparent 40%,
    transparent 50%,
    rgba(255,255,255,.05) 50%,
    rgba(255,255,255,.05) 60%,
    transparent 60%,
    transparent 70%,
    rgba(255,255,255,.05) 70%,
    rgba(255,255,255,.05) 80%,
    transparent 80%,
    transparent 90%,
    rgba(255,255,255,.05) 90%
  );
  background-color: rgba(255,255,255,.05);
  box-shadow: inset 0 0 0 4px rgba(255,255,255,.05);
}

sim-el[gallery-item]::after {
  content: "";
  position: relative;
  z-index: 4;
  display: block;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-color: inherit;
  background-position: inherit;
  background-size: inherit;
  background-repeat: inherit;
  transition: transform .16s ease-in-out;
  pointer-events: none;
}

sim-el[gallery-item]:hover {
  transform: scale(1.1);
}

sim-el[gallery-item].active::after {
  border-radius: 2px;
  transform: scale(1.02);
  animation: transition 1.6s ease-in-out infinite;
}

sim-el[gallery-build] {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(var(--white), var(--opacity-80));
}

@media screen and (orientation: portrait) {
  sim-el[gallery-item] {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: calc(100% / 3);
    height: calc(100% / 4);
  }

  sim-el[gallery-item]::before {
    box-shadow: inset 0 0 0 8px rgba(255,255,255,.05);
  }
}

@keyframes transition {
  0% {
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 0 0 3px rgba(255,255,255,.2);
  }

  50% {
    background-color: rgba(255,255,255,.2);
    box-shadow: 0 0 0 3px rgba(255,255,255,.5);
  }

  100% {
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 0 0 3px rgba(255,255,255,.2);
  }
}
