.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 640px;
  height: 400px;
  opacity: 0;
  transition: opacity .26s ease-in;

  &.in {
    opacity: 1;
  }
}
