.joystick-stand {
  display: flex;
  position: absolute;
  bottom: 25%;
  left: 30%;
  z-index: 4;
  display: block;
  border-radius: 100%;
  width: 100px;
  background-color: rgba(255,255,255,.4);
  transform: translate(-50%, 50%);
  transition: background-color .16s ease-in;
}

.joystick-stick {
  position: absolute;
  top: 25%;
  left: 25%;
  display: block;
  border-radius: 100%;
  width: 50%;
  background-color: rgba(255,255,255,.4);
  transition: background-color .16s ease-in;
}

.joystick-stand:before,
.joystick-stick:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.joystick-stand.active,
.joystick-stand.active .joystick-stick {
  background-color: rgba(255,255,255,.6);
}
