.keyboard-btn {
  position: absolute;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 80px;
  font-size: 20px;
  color: rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.4);
  transform: translate(-50%, 50%);
  transition: background-color .16s ease-in;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}
