sim-dpad {
  --dpad-button-size: 36px;
  --dpad-button-top: 40px;
  --dpad-button-left: 40px;
  --dpad-button-bottom: auto;
  --dpad-button-right: auto;

  position: absolute;
  top: var(--dpad-button-top);
  right: var(--dpad-button-right);
  bottom: var(--dpad-button-bottom);
  left: var(--dpad-button-left);
  display: block;
  width: calc(var(--dpad-button-size) * 2.8 + var(--dpad-button-size) / 3);
  height: calc(var(--dpad-button-size) * 2.8 + var(--dpad-button-size) / 3);
  font-size: var(--font-size-medium);
}

sim-dpad::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: auto;
  border-radius: 10%;
  width: 60%;
  height: 60%;
  box-shadow:
    0 0 24px rgba(255,255,255,.2) inset,
    0 0 14px rgba(255,255,255,.05)
  ;
  transform: rotate(45deg);
}

sim-el[dpad-button] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 4px;
  background-color: var(--color-primary);
  cursor: pointer;
}

sim-el[dpad-button]::before {
  content: "";
  border-style: solid;
  border-radius: 5px;
  width: 0;
  height: 0;
  transition: transform .16s ease-in-out;
}

sim-el[dpad-button].active {
  background-color: var(--color-mute);
}

sim-el[dpad-button].dpad-up,
sim-el[dpad-button].dpad-right,
sim-el[dpad-button].dpad-down,
sim-el[dpad-button].dpad-left {
  box-sizing: content-box;
  width: var(--dpad-button-size);
  height: var(--dpad-button-size);
  box-shadow: 0 0 12px rgba(0,0,0,.4) inset;
}

sim-el[dpad-button].dpad-up {
  top: 0;
  bottom: auto;
  padding-bottom: 10px;
  border-radius: 17% 17% 50% 50%;
}

sim-el[dpad-button].dpad-up::before {
  border-width: 0 8px 10px 8px;
  border-color: transparent transparent var(--color-primary) transparent;
}

sim-el[dpad-button].dpad-up.active::before {
  transform: translateY(-3px);
}

sim-el[dpad-button].dpad-right {
  left: auto;
  right: 0;
  padding-left: 10px;
  border-radius: 50% 17% 17% 50%;
}

sim-el[dpad-button].dpad-right::before {
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent var(--color-primary);
}

sim-el[dpad-button].dpad-right.active::before {
  transform: translateX(3px);
}

sim-el[dpad-button].dpad-down {
  top: auto;
  bottom: 0;
  padding-top: 10px;
  border-radius: 50% 50% 17% 17%;
}

sim-el[dpad-button].dpad-down::before {
  border-width: 10px 8px 0 8px;
  border-color: var(--color-primary) transparent transparent transparent;
}

sim-el[dpad-button].active::before {
  transform: translateY(3px);
}

sim-el[dpad-button].dpad-left {
  left: 0;
  right: auto;
  padding-right: 10px;
  border-radius: 17% 50% 50% 17%;
}

sim-el[dpad-button].dpad-left::before {
  border-width: 8px 10px 8px 0;
  border-color: transparent var(--color-primary) transparent transparent;
}

sim-el[dpad-button].dpad-left.active::before {
  transform: translateX(-3px);
}

@media screen and (orientation: portrait) {
  sim-dpad {
    --dpad-button-size: 62px;
    --dpad-button-top: auto;
    --dpad-button-left: 80px;
    --dpad-button-bottom: 100px;
  }
}
