sim-keyboard {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  display: block;
  margin: 0 auto;
  width: 90%;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
}

sim-el[keyboard-row] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
  gap: 5px;
}

sim-el[keyboard-key] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 5px;
  padding: 0 .8em;
  height: 2.2em;
  word-wrap: normal;
  white-space: nowrap;
  font-size: 14px;
  text-transform: capitalize;
  color: var(--color-primary);
  background-color: var(--color-primary);
  transition: background-color .16s ease-in, color background-color .16s ease-in;
  user-select: none;
  cursor: pointer;
  pointer-events: all;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

sim-el[keyboard-key]:active,
sim-el[keyboard-key].active {
  color: var(--color-mute);
  background-color: var(--color-mute);
}

sim-el[keyboard-key][key="Escape"] {
  flex: 0;
}
