sim-keypad {
  --sim-button-width: 30px;
  --sim-button-height: 20px;
  --sim-button-round-size: 80px;
  --sim-button-round-font-size: 20px;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;;
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  font-size: var(--font-size-medium);
  pointer-events: none;
}
